footer{
    background-color: rgb(250, 218, 175);
    color: rgb(236, 179, 104);
    padding: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
} 

.footer-section{
    flex-basis: 23%;
    margin-bottom: 20px;
}

.footer-section h4{
    margin-bottom: 15px;
    font-size: 18px;
    color: rgb(165, 89, 42);
}

.footer-section p{
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.footer-section ul{
    list-style-type: none;
}

.footer-section ul li{
    margin-bottom: 10px;
}

.footer-section ul li a{
    color: rgb(179, 172, 163);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover{
    color: antiquewhite;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: antiquewhite;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a img {
    width: 60px;
    display: inline-block;
    margin-right: 30px;
    color: antiquewhite;
    text-decoration: none;
    transition: color 0.3s;
}


.social-links a :hover{
    color: rgb(250, 250, 244);
}

.footer.bottom p{
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #000000;
    font-size: 14px;
}

.footer.bottom p{
    margin: 0;
}

